node_modules
npm-debug.log
pnpm-lock.yaml
*.log
.git
.gitignore
.next
.turbo
dist
out
.DS_Store
Thumbs.db
.env
.env.local
.env.production
.env.development
.env.test
apps/api/node_modules
apps/home-server/node_modules
apps/web/node_modules
apps/web/.next
apps/home-server/dist
apps/api/dist
apps/home-server/media
media
public/media

