apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-server-media
  namespace: streamnow
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard


