NODE_ENV=development
HOME_SERVER_PORT=4300
HOME_SERVER_HOST=127.0.0.1
HOME_SERVER_MEDIA_ROOT=./media
HOME_SERVER_LOG_LEVEL=info
HOME_SERVER_OWNER_ID=00000000-0000-0000-0000-000000000000
HOME_SERVER_OWNER_ROLE=ADMIN
HOME_SERVER_GRAPHQL_URL=http://localhost:4000/graphql
HOME_SERVER_SERVICE_TOKEN=change-me-service-token
HOME_SERVER_SHARE_CACHE_TTL=10


